/* For X-Small Devices */
@media screen and (max-width: 576px) {

    /* Common CSS */
    .container {
        width: 90%;
        margin: auto;
    }


    /* Header starts */
    #header {
        padding: 2rem 0 10rem;
    }

    /* Navigation Section */
    nav {
        flex-direction: column;
        align-items: center;

    }

    nav>h2 {
        font-size: 1.6rem;

    }

    nav>ul {
        margin-top: 2rem;
        flex-wrap: wrap;
        gap: 1.6rem;
    }

    nav>ul>li {
        font-size: 1.5rem;
    }

    nav>ul>li>i {
        font-size: 2rem;
    }

    /* Banner Section */
    #banner {
        flex-direction: column-reverse;
        margin: 5rem 0 6rem;
    }

    .banner_content {
        width: 100%;
    }

    .banner_title {
        font-size: 2.8rem;
        line-height: normal;
        text-align: center;
    }

    .banner_description {
        font-size: 1.4rem;
        font-weight: 500;
        text-align: center;
        margin: 1rem;
    }

    .banner_btn {
        margin: 1.5rem auto 0;
        width: 60%;
        border-radius: 3rem;
        padding: 1rem 2.5rem;
    }

    .banner_btn a {
        font-weight: 500;
    }

    .banner_img>img {
        width: 100%;
    }

    /* Sponsors Section */
    #sponsors>hr {
        display: none;
    }

    #sponsors>.logo_container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 0;
    }

}